@import "tailwindcss";



*{
    

   box-sizing: border-box;
  
  
}

.perspective {
  perspective: 2400px;
}
::-webkit-scrollbar{
  display: none;
}

.text-depth {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* x-offset, y-offset, blur, color */
}

html, body {
  overflow-x: hidden;
  width: 100%;
  
}

button {
  pointer-events: auto; /* make sure it's not blocked */
  z-index: 50;          /* make sure it's above other layers */
}



